* {
    padding: 0;
    margin: 0;
    order: 1px solid red;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hero-div {
    background-color: #1F2937;
    color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#header {
    height: 12%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-logo {
    display: flex;
    align-items: center;
    width: 15%;
}

.mslogo {
    width: 30px;
}

.logo-txt {
    margin-left: 5px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    letter-spacing: -1px;
}

ul {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

#hero-main-div {
    width: 80%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-sub-div {
    width: 40%;
}

#hero-img {
    width: 45%;
}

.hero-main-txt {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: -2px;
}

.hero-sec-txt {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px 0 10px 0px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    font-weight: bold;
    width: 150px;
    background-color: #3882f6;
    border-radius: 5px;
}

video {
    width: 100%;
}

#info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.info-header {
    margin: 25px 0 30px 0px;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.feature {
    width: 20%;
}

.fhead {
    margin: 10px 0 3px 0;
}

.fdesc {
    font-size: 12px;
}

#quote-div {
    background-color: #e5e7eb;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-txt {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 50%;
}

.bold-right {
    margin-left: auto;
    font-weight: bold;
    display: flex;
    justify-content: end;
}